@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/JostBold.ttf");
    font-family: "Jost";
    font-weight: 700;
    @font-face 1
    font-display: swap;
    font-style: normal;
    src: url("/fonts/JostRegular.ttf");
    font-family: "Jost";
    font-weight: 400;
}
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/JostMedium.ttf");
    font-family: "Jost";
    font-weight: 500;
    }
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/JostSemiBold.ttf");
    font-family: "Jost";
    font-weight: 600;
    }
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/RobotoRegular.ttf");
    font-family: "Roboto";
    font-weight: 400;
    }
    @font-face {
    font-display: swap;
    font-style: normal;
    src: url("/fonts/InterBlack.ttf");
    font-family: "Inter";
    font-weight: 900;
    }