@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
--amber_100: #ffe9b5;
--blue_gray_100: #d9d9d9;
--blue_gray_800: #2d3f59;
--cyan_300: #41bae3;
--cyan_50: #e2f5fb;
--cyan_900: #215d72;
--gray_600: #727272;
--indigo_900: #003569;
--teal_900: #17414f;
--white_a700: #ffffff;
/*--Border radius variables----*/
--radius-xs: 14px;
--radius-sm:20px;
--radius-md:28px;
--radius-lg:64px;
--radius-xl: 80px;

--space-xs: 2px;
--space-sm: 8px;
--space-md: 10px;
--space-lg: 16px;
--space-xl: 20px;
--space-2xl: 22px;
--space-3xl: 30px;
--space-4xl: 32px;
--space-5xl: 54px;
}
[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week" ],
[multiple],
textarea,
select {
appearance: none;
background-color: transparent;
border-color: unset;
border-width: 0;
border-radius: unset;
padding: unset;
font-size: unset;
line-height: unset;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="search" ]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
--tw-ring-color: transparent;
border-color: transparent;
}
[type=" radio"]:focus,
[type="checkbox"]:focus {
--tw-ring-color: transparent;
}
}
@layer components {

• container-xs {
@apply w-full mx-auto max-w-[1470px];
}
}